PG_DATABASE=postgres
PG_USER=postgres
PG_PASSWORD=postgres
PG_PORT=55000
PG_HOST=localhost

REDIS_ADDR=localhost:63791
REDIS_PASSWORD=
REDIS_DB=0

GRPC_HOST=localhost:50051

RABBITMQ_URL=amqp://guest:guest@localhost:15672/